Mon leitmotiv : créer des espaces conviviaux, fonctionnels et intemporels pour mes clients.
J'aime créer des lieux vivants et sereins, où il fait bon vivre et recevoir.

J'affectionne tout particulièrement les maisons de famille et/ou de vacances où je place ma décoration au service des moments conviviaux et de détente.

J'apporte une attention particulière à qui sont mes clients et comment ils vont évoluer et vivre dans leur espace, pour leur apporter tout le confort possible et créer des espaces adaptés, beaux et pratiques d'utilisation.

Mon style est un bel équilibre entre le charme de l'ancien et le confort moderne. Je puise principalement mon inspiration de ma Provence natale et du design finlandais.