De la **Provence**, j'aime... les maisons en pierre, l'odeur des champs de lavande, le chant des cigales, vivre à l'extérieur et les couleurs de l'automne.
Ma passion pour ma Provence natale est un guide dans tous mes projets. J'ai à cœur de valoriser et de faire connaitre cet endroit exceptionnel, en particulier mon département d'origine : les Alpes-de-Haute-Provence (04).
