L'idée maitresse du projet était de créer une décoration douce et intemporelle, qui intégrait les meubles mid-century de style scandinave de la cliente et des touches de couleurs chaudes terracotta dont on ne se lasse pas.

### *"Des meubles au style mid-century"*