Antiboise d'adoption, j'ai travaillé pendant 10 ans en tant qu'ingénieur développeur.
En 2021, je me suis lancée dans une aventure qui me tenait à cœur : faire d'une passion mon	métier.

J'ai donc suivi une formation en architecture d'intérieur sur Nice, pour ensuite créer mon entreprise de conseils en décoration d'intérieur et en visualisation 3D, courant	janvier 2022.
