J'ai eu la chance de beaucoup voyager.
Parmi mes endroits coup de cœur : le Valais en Suisse et Helsinki en Finlande.

Ces deux voyages et ma Provence natale ont grandement influencé ma façon de vivre, ma créativité et donc mon ADN déco.
