De la **Montagne**, j'aime... les chalets en bois, la nature, le cocooning, le vert des sapins et les feux de cheminée. L'image ci-contre a été pris à Colmars-les-Alpes (04), le village qui m'a vu naitre.
