*"Nous sommes plus que ravis du projet concocté par Anaïs.*  
*Elle a immédiatement compris nos souhaits et nous a proposé le projet idéal.*  
*Nous avons choisi de réaliser nous même les travaux ; ce qui s'avère très long et difficile. Mais Anaïs est là pour nous épauler et nous apporter ses conseils à chaque étape."*
