Les clients souhaitaient redisposer les meubles et redécorer la chambre de leur adolescente.
La chambre était déjà meublée avec de beaux meubles au style scandinave des années 50 qu'il fallait d'un commun accord conserver.
Le sol et la peinture de la chambre avaient été refaits récemment.

### *"Mobilier scandinave et douceur bohème"*

Du style scandinave, nous avons conservé également les "fourrures" pour donner une ambiance cosy à l'espace.
Par ailleurs, l'adolescente souhaitait des couleurs de jaune et de terracotta et avait envie d'un style bohème pour sa chambre.
De là est née l'idée de ce mixe entre style scandinave et bohème : un style boho-scandinave.
