Réservation de mes prestations uniquement par courriel ou téléphone.<br>
Mon standard téléphonique est ouvert du lundi au vendredi de 9h à 19h.<br>
Les rendez-vous client peuvent se faire le week-end au besoin.
