L'objectif de ce projet était de remeubler et décorer la chambre d'un petit garçon de 6 ans.
À cet âge, il commençait à avoir des devoirs à la maison, il lui fallait donc un nouvel espace bureau dédié, pour travailler au calme dans sa chambre.
Les parents souhaitaient également une chambre évolutive : il fallait qu'elle puisse convenir aussi bien à un enfant qu'à un adolescent.

### *"Une chambre évolutive, esprit jungle"*

Pour le style, ils désiraient un esprit jungle avec des couleurs qui s'harmoniseraient avec des rideaux en lin bleu foncé à conserver.
La chambre possèdait un parquet en chêne clair neuf et donc à conserver également.
