La cliente souhaitait décorer la pièce nouvellement créée dans les combles pour qu'elle accueille la chambre de sa fille.
La pièce en longueur et sous les toits à necessiter une attention particulière quant à la disposition des différents espaces : la circulation devait se faire dans les endroits avec une hauteur sous plafond suffisante.
La chambre a une vue imprenable sur le vieux port de Cannes et le Palais des festivals, une demande particulière consistait donc à créer des marches pour que l'adolescente puisse admirer la vue depuis les velux.

### *"Une chambre cocooning et bohème"*

Pour le style la cliente et sa fille souhaitez un style bohème chic et cocooning avec des couleurs neutres, de taupe et de vieux rose.
La future occupante de cette chambre rêvait d'avoir un fauteuil suspendu, ce qui n'était malheureusement pas possible pour des raisons techniques.
Nous avons donc proposer un fauteuil rond dans lequel se lover pour compenser.
