Les propriétaires des lieux avaient déjà commencé à réorganiser leur entrée en créant un meuble pour abriter une penderie et une buanderie.
Ils avaient également retravaillé la lumière générale.
Néanmoins, ils désiraient des conseils sur les matériaux et couleur des portes coulissantes qui allaient fermer ce nouvel espace qu'ils avaient créé.
Ils souhaitaient également de l'aide pour créer un meuble qui contiendrait un rangement à chaussures, une console et un banc.
Comme le reste de la maison, cette entrée à été dessinée avec un style industriel et des couleurs sombres.
Les textiles ont été choisis pour contraster et apporter une note de douceur dans cet environnement assez brut.

### *"Une entrée intimiste et fonctionnelle"*
