**Fun Fact** : petite, mon idée de jouer à la Barbie ?
C'était de construire et décorer sa	maison.

Tous mes cadeaux étaient de l'achat de mobiliers pour ma poupée.
Déjà, la notion de	budget se faisait ressentir !
