Dans cette maison située à Vidauban, les clients souhaitaient re-décorer le séjour, le hall d'entrée et l'escalier à leur goût.
Ils voulaient des couleurs neutres et chaudes.
Au niveau du style, ils désiraient un mélange entre bohème et contemporain.

### *"Une décoration aux accents californiens"*
