Lors d'un achat immobilier, on peut avoir besoin d'aide pour s'approprier un nouveau lieu.
C'était exactement le cas de mon client.
En effet, il projetait de rassembler un studio et un appartement pour n'en faire qu'un seul logement.
Mais les volumes et les travaux étant déjà definis par ses soins, il avait besoin d'aide pour meubler et décorer ces nouveaux espaces à son goût.

### *"Le linéaire de rangement fait le lien entre les différents espaces"*
