*"Nous avons fait refaire notre salle de bain et la chambre de bébé avec Anaïs, nous sommes très satisfaits! Travail professionnel et soigné, elle pense à tout les petits détails sans laisser de côté les aspects pratiques et techniques pour les travaux."*
