La mission d'étude décorative est une proposition complète qui vous fournira une solution d'aménagement et de décoration personnalisée pour tout ou partie de votre logement. Je prends en charge la conception de votre projet de décoration d'intérieur de A à Z. Avec le document final, vous aurez toutes les clés en main pour réaliser le projet comme sur les visuels.
